<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Voting app</h1>
    <p class="lead">Create shareable polls for free.</p>
    <div class="row">
      <button class="btn btn-success" ui-sref="poll">New poll</button>
      <button class="btn btn-primary" ui-sref="mypolls" ng-show="$ctrl.user">My polls</button>
    </div>
  </div>
</header>

<div class="container">

  <div>
    <h1>Polls</h1>
    <table style="cursor: pointer" class="table">
      <thead>
      <th ng-click="$ctrl.order('title')">Title
        <i class="arrow" ng-show="$ctrl.predicate === 'title'" ng-class="{reverse:$ctrl.reverse}"></i>
      </th>

      <th ng-click="$ctrl.order('date')">Date
        <i class="arrow" ng-show="$ctrl.predicate === 'date'" ng-class="{reverse:$ctrl.reverse}"></i>
      </th>

      <th ng-click="$ctrl.order('user')">Author
        <i class="arrow" ng-show="$ctrl.predicate === 'user'" ng-class="{reverse:$ctrl.reverse}"></i>
      </th>
      </thead>
      <tbody>

      <tr ui-sref="polldetail({id: poll._id})"
          ng-repeat="poll in $ctrl.polls | orderBy:$ctrl.predicate:$ctrl.reverse">
        <td>
          {{poll.title}}
        </td>
        <td>
          {{poll.date | date : 'short'}}
        </td>
        <td>
          {{poll.user || "anonymous"}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<!--class="list-group-item"-->
