<div class="container">
  <h1>My Polls</h1>
  <ul class="list-group">
    <li ng-repeat="poll in polls | filter:search.user" style="cursor: pointer" class="row list-group-item" ui-sref="polldetail({id: poll._id})">
      <span>{{poll.title}}</span>
      <button type="button" class="btn btn-danger pull-right" ng-click="$ctrl.deletePoll(poll._id)"><i class="glyphicon glyphicon-trash"></i></button>
    </li>
  </ul>
</div>
