<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <form class="panel panel-default" name="pollForm" ng-submit="p.vote(p.index)">
        <div class="panel-heading"><h1>{{poll.title}}</h1>
          <p ng-if="poll.user">by {{poll.user}}</p></div>

        <div class="panel-body">
          <div class="list-group">
            <label class="list-group-item" ng-repeat="option in poll.options track by $index">
              <input ng-model="p.index" type="radio" name="choices" value="{{$index}}"> {{option._id}}
              <span>({{option.votes}} votes)</span>
            </label>
            <div class="list-group-item">
              <input ng-model="p.index" type="radio" name="choices" value="something"
                     id="something"><label for="something">Something else &nbsp;</label>

              <form class="form-inline" name="newOptionForm">
                <input ng-model="newOption" ng-disabled="p.index !== 'something'" placeholder="something" type="text" name="newOption">
                <button class="btn btn-primary" type="button" ng-click="p.addOption(newOption)" ng-disabled="p.index !== 'something' || !newOption">OK</button>
              </form>
            </div>
          </div>

          <button class="btn btn-success" type="submit">Vote!</button>

          <!--<button type="button" class="btn btn-default" data-clipboard-text="{{link}}">-->
            <!--<i class="glyphicon glyphicon-share"></i> Copy link-->
          <!--</button>-->
        </div>
      </form>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">Results</div>
        <div class="panel-body">
          <canvas id="doughnut" class="chart chart-doughnut" chart-data="data" chart-labels="labels">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>
