<div class="container">
  <div class="alert alert-danger" ng-hide="$ctrl.titleValid">The poll needs a title</div>
  <div class="alert alert-danger" ng-hide="$ctrl.optionsValid">The options must be filled out</div>
  <h1>Create a poll</h1>
  <form novalidate name="pollForm">
    <div class="form-group" ng-class="{'has-error':pollForm.title.$invalid&&pollForm.title.$dirty||pollForm.$submitted}">
      <label for="title">Title</label>
      <input required ng-model='$ctrl.title' type="text" class="form-control" id="title" name="title"
             placeholder="e.g. What is your favorite food?">
    </div>
    <div class="form-group">
      <label>Options</label>
      <div class="list-group">
        <div class="input-group" ng-repeat="option in $ctrl.options track by $index"
             ng-class="{'has-error':pollForm.option{{$index + 1}}.$invalid&&pollForm.option{{$index + 1}}.$dirty||pollForm.$submitted}">
          <input required ng-model="option.value" type="text" class="form-control" id="option{{$index + 1}}" name="option{{$index + 1}}"
                 placeholder="Option {{$index + 1}}">
          <div class="input-group-addon">
            <button type="button" class="close" aria-label="Close" ng-click="$ctrl.removeOption($index)"><span
              aria-hidden="true">&times;</span></button>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-primary" ng-click="$ctrl.newOption()">Another option</button>
    <button class="btn btn-success" ng-click="$ctrl.submitPoll()">Create poll</button>
  </form>
</div>
